<h1>Welcome {{user}}</h1>
----------------------------------------------------------
<h2>HoodaPG</h2>
<h2><a href="#">Rooms</a></h2>
<h2><a href="#">Facilities</a></h2>
<h2><a href="#">About</a></h2>
<h2><a href="{% url 'user:register-user' %}">Login/SignUp</a></h2>
<br><br>
----------------------------------------------------------
<h2>F1 &nbsp;&nbsp;&nbsp;F2&nbsp;&nbsp;&nbsp;F3&nbsp;&nbsp;&nbsp;F4</h2>
<br><br>
----------------------------------------------------------
<h1>Facilities</h1>
----------------------------------------------------------
