<h1>Welcome {{user}}</h1>
----------------------------------------------------------
<h2>KinVilla</h2>
<h2><a href="#">Rooms</a></h2>
<h2><a href="#">Facilities</a></h2>
<h2><a href="#">About</a></h2>
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <h2><a href="{% url 'user:admin-dashboard' %}">Dashboard</a></h2>
    {% else %}
        <h2><a href="{% url 'user:user-detail' user.resident.resident_id %}">Profile</a></h2>
    {% endif %}
{% else %}
    <h2><a href="{% url 'user:user-register' %}">Login/SignUp</a></h2>
{% endif %}
----------------------------------------------------------
<h2><a href="{% url 'room:room-list' 1 %}">F1</a></h2>
<h2><a href="{% url 'room:room-list' 2 %}">F2</a></h2>
<h2><a href="{% url 'room:room-list' 3 %}">F3</a></h2>
<h2><a href="{% url 'room:room-list' 4 %}">F4</a></h2>
----------------------------------------------------------
<h1>Facilities</h1>
----------------------------------------------------------
