{% load core_custom_filters %}
<h2>Hi, {{resident.user.first_name}}</h2>
<ul>
    <li><strong>First name :</strong>{{resident.user.first_name}}</li>
    <li><strong>Last name :</strong>{{resident.user.last_name}}</li>
    <li><strong>Father's name :</strong>{{resident.father_name}}</li>
    <li><strong>Address :</strong>{{resident.address}}</li>
    <li><strong>Profession :</strong>{{resident.profession}}</li>
    <li><strong>Work Address :</strong>{{resident.address}}</li>
    <li><strong>Verification status :</strong>{% if resident.verification %}{{resident.verification.status|parse_verification_status}}{% else %}Not verified {% endif %}</li>
    <li><strong>Room :</strong>{{resident.room.room_number}}</li>
</ul>
{% if not resident.verification %}
    <h2>You have not submitted your verification details. Please fill <a href="{% url 'user:user-verification' %}">this</a> form</h2>
{% endif %}
<h2><a href="{% url 'user:user-update' resident.resident_id %}">Edit</a></h2>
<h2><a href="{% url 'core:my-bookings' %}">My bookings</a></h2>
<h2><a href="{% url 'home:home' %}">Home</a></h2>
<h2><a href="{% url 'user:user-logout' %}">Logout</a></h2>
