<h2>Hi, {{resident.user.first_name}}</h2>
<ul>
  <li><strong>First name :</strong>{{resident.user.first_name}}</li>
  <li><strong>Last name :</strong>{{resident.user.last_name}}</li>
  <li><strong>Father's name :</strong>{{resident.father_name}}</li>
  <li><strong>Address :</strong>{{resident.address}}</li>
  <li><strong>Profession :</strong>{{resident.profession}}</li>
  <li><strong>Work Address :</strong>{{resident.address}}</li>
  <li><strong>Room :</strong>{{resident.room.room_number}}</li>
</ul>
<h2><a href="{% url 'user:user-update' resident.resident_id %}">Edit</a></h2>
<h2><a href="{% url 'user:user-logout' %}">Logout</a></h2>
